@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: rgb(142, 89, 255);
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}
h2 {
  font-size: x-large;
  font-weight: bold;
}
h3 {
  font-size: large;
  font-weight: bold;
}
